<div>
    <div class="row mt-3 d-flex justify-content-center">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4>Register</h4>
                    <form [formGroup]="form" (submit)="registerUser()">
                        <div class="m-2">
                            <label>Fullname: </label>
                            <input type="text" formControlName="name" class="form-control form-control-sm" required>
                            <div class="mt-2" *ngIf="form.get('name').invalid && (form.get('name').dirty || form.get('name').touched)"
                                 class="text-danger">
                                <div *ngIf="form.get('name').errors.required">
                                    Fullname address is required.
                                </div>
                            </div>
                        </div>
                        <div class="m-2">
                            <label>Email: </label>
                            <input type="email" formControlName="email" class="form-control form-control-sm" required>
                            <div class="mt-2" *ngIf="form.get('email').invalid && (form.get('email').dirty || form.get('email').touched)"
                                 class="text-danger">
                                <div *ngIf="form.get('email').errors.required">
                                    Email address is required.
                                </div>
                                <div *ngIf="form.get('email').errors.email">
                                    Email address must be a valid email
                                </div>
                            </div>
                        </div>
                        <div class="m-2">
                            <label>Password: </label>
                            <input type="password" formControlName="password" class="form-control form-control-sm" required>
                            <div class="mt-2" *ngIf="form.get('password').invalid && (form.get('password').dirty || form.get('password').touched)"
                                 class="text-danger">
                                <div *ngIf="form.get('password').errors.required">
                                    Password is required.
                                </div>
                                <div *ngIf="form.get('password').errors.minlength">
                                    Password must be minimum of 8 characters.
                                </div>
                            </div>
                        </div>
                        <div class="m-2">
                            <label>Confirm Password: </label>
                            <input type="password" formControlName="password_confirmation" class="form-control form-control-sm" required>
                            <div class="mt-2" *ngIf="form.get('password_confirmation').invalid && (form.get('password_confirmation').dirty || form.get('password_confirmation').touched)"
                                 class="text-danger">
                                <div *ngIf="form.get('password_confirmation').errors.required">
                                    Confirm Password is required.
                                </div>
                                <div *ngIf="form.get('password_confirmation').errors.minlength">
                                    Confirm Password must be minimum of 8 characters.
                                </div>
                            </div>
                        </div>
                        <div class="m-2">
                            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
